* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: black;
  color: azure;
}

.main {
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid beige;
}

.main::before {
  content: "";
  background-image: url("/assets/background-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140vh;
  height: 100vh;
  z-index: -1;
}

.main::after {
  content: "";
  background-image: url("/assets/background-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140vh;
  height: 100vh;
  z-index: -1;
  transform: rotate(180deg);
}
